# Don't track content of these folders
game/cache/
game/saves/

# Ignore these files
dialogue.tab
errors.txt
log.txt
traceback.txt


# Compiled source #
###################
*.rpyc
*.rpymc

# Unwanted image types #
########################
*.psd

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.rar
*.tar
*.zip